@model Clay3.Models.DoorViewModel

@{
    ViewData["Title"] = "Open Sesame";

}


<h1>Clay two-door solution</h1>
<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Door ID</td>
                <td>Door Name</td>
                <td>Status</td>
                <td></td>
            </tr>
        </thead>

        @foreach (var item in Model.doors)
        {
            <tr>
                <td>@item.DoorID</td>
                <td>@item.DoorName</td>

                <td>
                    <a href="@Url.Action("OpenDoor","Door", new {door=item.DoorID })"
                       class="btn btn-primary btn-lg">Open</a>
                </td>
            </tr>
        }

    </table>
    <h1>Open history</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Door Id</td>
                <td>User Name</td>
                <td>Status</td>
                <td>Time</td>
            </tr>
        </thead>                
        @for (var i = Model.records.Count()-1 ; i > 0; i --)
        {
            <tr>
                <td>@Model.records[i].DoorId</td>
                <td>@Model.records[i].UserName</td>
                <td>@Model.records[i].HasOpened</td>
                <td>@Model.records[i].Excuted</td>
            </tr>
        }

    </table>


</div>
